name: SnowID Extension

on:
  pull_request:
    branches: [ main ]
  workflow_call:
    inputs:
      publish_images:
        description: "Whether to publish images to Docker Hub"
        type: boolean
        default: false

jobs:
  build_and_push:
    name: Build and Publish
    runs-on: ubuntu-latest

    strategy:
      matrix:
        pg_provider: [ pg, cloudnative-pg ]
        pg_version:
          - { major: 18, minor: 1, is_latest: false }
          - { major: 18, minor: 2, is_latest: false }
          - { major: 18, minor: 3, is_latest: true }

    outputs:
      short_sha: ${{ steps.versions.outputs.SHORT_SHA }}
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6

      - name: Set version strings
        id: versions
        run: |
          echo "SHORT_SHA=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
          echo "TAG_VER=$(yq '.extension.version' Trunk.toml)" >> $GITHUB_OUTPUT
          echo "PGRX_VER=$(yq '.dependencies.pgrx' Cargo.toml)" >> $GITHUB_OUTPUT

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        if: ${{ inputs.publish_images }}
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Generate Docker tags
        id: docker_tags
        run: |
          TAGS="rixl/snowid-${{ matrix.pg_provider }}:${{ matrix.pg_version.major }}.${{ matrix.pg_version.minor }}"
          if [ "${{ matrix.pg_version.is_latest }}" == "true" ]; then
            TAGS="$TAGS,rixl/snowid-${{ matrix.pg_provider }}:${{ matrix.pg_version.major }}"
          fi
          echo "tags=$TAGS" >> $GITHUB_OUTPUT

      - name: Build and push -- Releases
        uses: docker/build-push-action@v6
        with:
          file: ./images/${{ matrix.pg_provider }}/Dockerfile
          context: .
          platforms: linux/amd64,linux/arm64
          push: ${{ inputs.publish_images }}
          build-args: |
            PG_MAJOR=${{ matrix.pg_version.major }}
            PG_MINOR=${{ matrix.pg_version.minor }}
            PGRX=${{ steps.versions.outputs.PGRX_VER }}
          tags: ${{ steps.docker_tags.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max