name: SnowID Extension

on:
  workflow_call:
    inputs:
      publish_images:
        description: 'Whether to publish images to Docker Hub'
        type: boolean
        default: false
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

env:
  PGRX: 0.16.1

jobs:
  build_and_push:
    name: Build and push images

    strategy:
      matrix:
        pg_provider: [ pg, cloudnative-pg ]
        pg_version:
          - major: 18
            minor: 1
    runs-on: ubuntu-24.04
    outputs:
      short_sha: ${{ steps.versions.outputs.SHORT_SHA }}
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6

      - name: Install stoml and pg-trunk
        shell: bash
        run: |
          set -xe
          wget https://github.com/freshautomations/stoml/releases/download/v0.7.1/stoml_linux_amd64 &> /dev/null
          mv stoml_linux_amd64 stoml
          chmod +x stoml
          sudo mv stoml /usr/local/bin/

      - name: Set version strings
        id: versions
        run: |
          echo "SHORT_SHA=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
          echo "TAG_VER=$(/usr/local/bin/stoml Trunk.toml extension.version)" >> $GITHUB_OUTPUT
          echo "PGRX_VER=$(/usr/local/bin/stoml Cargo.toml dependencies.pgrx)" >> $GITHUB_OUTPUT

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        if: inputs.publish_images
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push -- Releases
        uses: docker/build-push-action@v6
        with:
          file: ./images/${{ matrix.pg_provider }}/Dockerfile
          context: .
          platforms: linux/amd64,linux/arm64
          push: ${{ inputs.publish_images }}
          build-args: |
            PG_MAJOR=${{ matrix.pg_version.major }}
            PG_MINOR=${{ matrix.pg_version.minor }}
            PGRX=${{ env.PGRX }}
          tags: |
            rixl/snowid-${{ matrix.pg_provider }}:${{ matrix.pg_version.major }}.${{ matrix.pg_version.minor }}
            rixl/snowid-${{ matrix.pg_provider }}:${{ matrix.pg_version.major }}
          cache-from: type=gha
          cache-to: type=gha,mode=max